<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Training" connectionString="Data Source=server1;Initial Catalog=CISF_Training;Integrated Security = SSPI;Connect Timeout=200;Max pool size=500"
      providerName="System.Data.SqlClient" />
    <add name="Queue" connectionString="Data Source=server2;Initial Catalog=Queue;Integrated Security = SSPI;Connect Timeout=200;Max pool size=500"
      providerName="System.Data.SqlClient" />
    <add name="People" connectionString="Data Source=server3;Initial Catalog=CISF_People;Integrated Security = SSPI;Connect Timeout=200;Max pool size=500"
      providerName="System.Data.SqlClient" />
    <!--<add name="CisfExternalTrainingConnectionString" connectionString="Data Source=cisf12;Initial Catalog=CisfExternalTraining;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="Windows"/>
    <identity impersonate="true" userName="domain\user" password="password"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="SiteTitle" value="CISF Training"/>
    <add key="CacheMinutes" value="30"/>
    <add key="LDAPPath" value="LDAP://LDAPServer/OU=OrgUnit,OU=nextOrgUnit,OU=BiggerOrgUnit,OU=ReallyBigOrgUnit,DC=DomainControl,DC=NextDC,DC=Guess,DC=MIL"/>
    <add key="ADDomain" value="ADDomain"/>
    <add key="ADGroup" value="ADDomainGroup"/>
    <add key="SQL2_Login" value="user"/>
    <add key="SQL2_PassPhrase" value="password"/>
    <add key="ComputerSupportGroup" value="Computer Support"/>
    <add key="TrainingSupportManagers" value="mgr1,mgr2,mgr3,mgr4"/>
    <add key="TrainingAutoAnswer" value="cheater1,cheater2"/>
    <add key="ComputerSupportManagers" value="csmgr1,csmgr2,csmgr3"/>
    <add key="DefaultComputerSupportTechnician" value="tech1"/>
    <add key="TicketURLString" value="https://Server/CISF_Computer_Support_Center/AddEditDeleteTicket.aspx"/>
    <add key="CustomerSatisfactionSurveyURLString" value="https://AnotherServer/sites/CSC/Lists/Feedback%20Survey/helpdeskticket.aspx"/>
    <add key="AssetURLString" value="https://YupAServer/cisf_asset_management/Maintain_Assets.aspx?UserIdent="/>
    <add key="TakeTrainingURLString" value="https://LotsOfServer/cisf_training/TakeTraining.aspx?training="/>
    <add key="RequiredADGroups" value="Group1, Group2, Group3"/>
    <add key="DocumentLocation" value="\\Server13\wwwroot\NexusQueue\ticket\docs"/>
    <add key="EmailTo" value="someone@somewhere.mil"/>
    <add key="EmailFrom" value="serviceaccount@somewhere.mil"/>
    <add key="EmailCC" value=""/>
    <add key="EmailSubject" value="Feedback/Comments"/>
    <add key="SMTPHost" value="SomeSMTPHost"/>
    <add key="SMTPHostPort" value="99"/>
  </appSettings>
</configuration>



